/* Colors:
1- #0171bd
2- #042a41
3- #62a6d3
4- #f2f2f2
5- #2b2b2b

 */

 *
 {
     padding: 0px;
     margin: 0px;
     font-family: arial;
     color: #f2f2f2;
 }
 
 body
 {
     background: rgba(0, 0, 0, 0.15);
     background-color: #f2f2f2;
 }
 
 div.bottom_container
 {
     background-color: #f2f2f2;
 }
 
 .uppercontainer
 {
     background-color:white;
 }
 
 div.container
 {
     width: 960px;
     margin: auto;
     padding: 0px;
 }
 
 ul {
     width: 960px;
     list-style-type: none;
     padding: 0;
     overflow: hidden;
     background-color: #042a41;
     float:left;
 }
 
 div.back_ul 
 {
     background-color:#042a41;
     height: 48px;
     width: calc((100% - 960px)/2);
     opacity: 0.9;
 }
 
 div.left
 {
     float:left;
 }
 
 div.right
 {
     float:left;
 }
 
 div.left::after, div.right::after
 {
     clear:both;
 }
 
 div.follower
 {
     background-color: #62a6d3;
     width: 960px;
     margin:auto;
     padding: 10px 0px;
 }
 
 div.follower p
 {
     font-size: 24px;
     color: #2b2b2b;
     font-family: Arial;
 }
 
 div.upper_container div.header
 {
     background-color: #0171bd;
     height: 110px;
     width: 960px;
     margin: auto;
 }
 
 li {
     float: right;
 }
 
 li::after
 {
     clear:both;
 }
 
 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-weight: bold;
     font-family: arial;
 }
 
 /* Change the link color to #111 (black) on hover */
 li a:hover {
     background-color: #111;
 }
 
 .active {
     background-color: #4CAF50;
 }
 
 
 img.main 
 {
     display: block;
     margin: auto;
     width: 100%;
 }
 
 div.picture_pres
 {
     display:grid;
     grid-template-columns: auto 960px auto;
     clear: both;
 }
 
 #pic1, #pic2, #pic3
 {
     height: 500px;
 }
 
 #pic1
 {
     background-image: url("../images/community.jpg");
     opacity: 0.3;
 }
 #pic2
 {
     background-image: url("../images/community.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     position: relative;
 }
 #pic3
 {
     background-image: url("../images/community.jpg");
     opacity: 0.3;
 }
 
 #message
 {
     position: absolute;
     bottom: 0;
     width: 960px;
     text-align:center;
     background: rgba(0, 0, 0, 0.7);
     font-size: 24px;
     padding: 10px 0px;
 }
 
 #message p 
 {
     font-family: Arial;
     font-weight: bold;
     color:white;
 }
 
 div.header
 {
     position:relative;
 }
 
 div.header img
 {
     position:absolute;
     z-index: 999;
     top: -100px;
     left: -90px;
 }
 
 div.bottom_container
 {
     /* display:grid;
     grid-template-columns: 55% 45%; */
 
     padding: 20px;
     
 }
 
 div.bottom_container div::after
 {
     clear:both;
 }


 
 
 #first_pres
 {
     background-color: #042a41;
     color:#f2f2f2;
     font-size: 18px;
     float:left;
     width: calc((960px - 160px) * 55 / 100);
     padding: 25px;
 }
 
 #second_pres
 {
     background-color: #0171bd;
     float:right;
     width: calc((960px - 160px) * 45 / 100);
     margin-left: 20px;
     padding: 25px;
     
 }
 
 /* #second_pres::after
 {
     clear:both;
 } */
 
 div.event
 {
     display: grid;
     grid-template-columns: 30% 70%;
     border-bottom: 2px solid red;
     padding: 15px 0px;
 }
 
 div.event:last-of-type
 {
     border:none;
     padding-bottom: 0;
 }
 
 div.event img
 {
     display: block;
     margin: auto;
     width: 80px;
 }
 

 #center
 {
     box-sizing: border-box;
     background-color:white;
     width:960px;
     margin:auto;
     padding: 20px;
 }

 #footer
 {
     background-color: #2b2b2b;
     width:960px;
     clear:both;
     padding: 20px 0px;
     font-weight: bold;
     text-align: center;
     margin: -20px;
 }

 #content
 {
     height: 550px;
 }


